fastapi
uvicorn

pdfplumber
python-docx

sentence-transformers
scikit-learn
numpy

python-dotenv

matplotlib
numpy
pandas
scikit-learn
sentence-transformers

torch
transformers
fuzzywuzzy
python-Levenshtein